.homepage {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.homepage .section {
  position: relative;
  width: 1440px;
  flex: 0 0 auto;
}

.homepage .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  padding: 96px 80px;
  background-color: #ffffff;
  position: relative;
  width: 1440px;
  flex: 0 0 auto;
}

.homepage .inspiration {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  gap: 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.homepage .img {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.homepage .div-2 {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.homepage .city-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
}

.homepage .rectangle {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.homepage .content {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 96px;
  align-self: stretch;
  width: 100%;
  background-color: #9d82a8;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .title {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-4xl-medium-font-family);
  font-weight: var(--text-4xl-medium-font-weight);
  color: #ffffff;
  font-size: var(--text-4xl-medium-font-size);
  letter-spacing: var(--text-4xl-medium-letter-spacing);
  line-height: var(--text-4xl-medium-line-height);
  font-style: var(--text-4xl-medium-font-style);
}

.homepage .distance {
  position: relative;
  align-self: stretch;
  font-family: var(--text-lg-regular-font-family);
  font-weight: var(--text-lg-regular-font-weight);
  color: #ffffff;
  font-size: var(--text-lg-regular-font-size);
  letter-spacing: var(--text-lg-regular-letter-spacing);
  line-height: var(--text-lg-regular-line-height);
  font-style: var(--text-lg-regular-font-style);
}

.homepage .content-2 {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 96px;
  align-self: stretch;
  width: 100%;
  background-color: #d2948e;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .content-3 {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 96px;
  align-self: stretch;
  width: 100%;
  background-color: #8594af;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .content-4 {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 96px;
  align-self: stretch;
  width: 100%;
  background-color: #7b8563;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-4xl-medium-font-family);
  font-weight: var(--text-4xl-medium-font-weight);
  color: var(--black);
  font-size: var(--text-4xl-medium-font-size);
  letter-spacing: var(--text-4xl-medium-letter-spacing);
  line-height: var(--text-4xl-medium-line-height);
  font-style: var(--text-4xl-medium-font-style);
}

.homepage .candle {
  display: flex;
  flex-direction: column;
  height: 628px;
  align-items: flex-start;
  gap: 24px;
  padding: 80px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
  background-image: url(./img/candle.png);
  background-size: cover;
  background-position: 50% 50%;
}

.homepage .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-5xl-medium-font-family);
  font-weight: var(--text-5xl-medium-font-weight);
  color: #ffffff;
  font-size: var(--text-5xl-medium-font-size);
  letter-spacing: var(--text-5xl-medium-letter-spacing);
  line-height: var(--text-5xl-medium-line-height);
  font-style: var(--text-5xl-medium-font-style);
}

.homepage .button {
  align-items: flex-start;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  all: unset;
  box-sizing: border-box;
}

.homepage .button-base {
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 24px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 0px none;
  box-shadow: var(--shadow-base);
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  border-color: var(--gray-200);
}

.homepage .text {
  color: #374151;
  position: relative;
  width: fit-content;
  font-family: var(--text-base-medium-font-family);
  font-weight: var(--text-base-medium-font-weight);
  font-size: var(--text-base-medium-font-size);
  letter-spacing: var(--text-base-medium-letter-spacing);
  line-height: var(--text-base-medium-line-height);
  white-space: nowrap;
  font-style: var(--text-base-medium-font-style);
}

.homepage .pottery {
  display: flex;
  flex-direction: column;
  height: 628px;
  align-items: flex-start;
  gap: 24px;
  padding: 80px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
  background-image: url(./img/pottery.png);
  background-size: cover;
  background-position: 50% 50%;
}

.homepage .inspiration-2 {
  align-items: center;
  display: flex;
  gap: 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.homepage .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.homepage .shop-airbnb-gift {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-5xl-medium-font-family);
  font-weight: var(--text-5xl-medium-font-weight);
  color: var(--black);
  font-size: var(--text-5xl-medium-font-size);
  letter-spacing: var(--text-5xl-medium-letter-spacing);
  line-height: var(--text-5xl-medium-line-height);
  font-style: var(--text-5xl-medium-font-style);
}

.homepage .button-base-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--black);
  border-radius: 8px;
  box-shadow: var(--shadow-base);
  all: unset;
  box-sizing: border-box;
}

.homepage .text-2 {
  margin-top: -1px;
  color: #ffffff;
  position: relative;
  width: fit-content;
  font-family: var(--text-base-medium-font-family);
  font-weight: var(--text-base-medium-font-weight);
  font-size: var(--text-base-medium-font-size);
  letter-spacing: var(--text-base-medium-letter-spacing);
  line-height: var(--text-base-medium-line-height);
  white-space: nowrap;
  font-style: var(--text-base-medium-font-style);
}

.homepage .gift-cards {
  position: relative;
  width: 854.22px;
  height: 320px;
  object-fit: cover;
}

.homepage .unsplash {
  display: flex;
  flex-direction: column;
  height: 640px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-image: url(./img/any-questions.png);
  background-size: cover;
  background-position: 50% 50%;
}

.homepage .questions-about {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 96px;
  letter-spacing: 0;
  line-height: 96px;
}

.homepage .pre-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.homepage .header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: transparent;
}

.homepage .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-2xl-medium-font-family);
  font-weight: var(--text-2xl-medium-font-weight);
  color: var(--black);
  font-size: var(--text-2xl-medium-font-size);
  letter-spacing: var(--text-2xl-medium-letter-spacing);
  line-height: var(--text-2xl-medium-line-height);
  font-style: var(--text-2xl-medium-font-style);
}

.homepage .tab-bar {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  box-shadow: var(--border-bottom);
  position: relative;
  flex: 0 0 auto;
}

.homepage .tab-line {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 8px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .content-5 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .label {
  color: var(--black);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-sm-medium-font-family);
  font-weight: var(--text-sm-medium-font-weight);
  font-size: var(--text-sm-medium-font-size);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  white-space: nowrap;
  font-style: var(--text-sm-medium-font-style);
}

.homepage .bar {
  background-color: var(--black);
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 2px;
}

.homepage .label-2 {
  color: var(--gray-500);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-sm-medium-font-family);
  font-weight: var(--text-sm-medium-font-weight);
  font-size: var(--text-sm-medium-font-size);
  letter-spacing: var(--text-sm-medium-letter-spacing);
  line-height: var(--text-sm-medium-line-height);
  white-space: nowrap;
  font-style: var(--text-sm-medium-font-style);
}

.homepage .bar-2 {
  background-color: var(--brand-600);
  opacity: 0;
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 2px;
}

.homepage .title-subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.homepage .title-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-sm-regular-font-family);
  font-weight: var(--text-sm-regular-font-weight);
  color: var(--black);
  font-size: var(--text-sm-regular-font-size);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  font-style: var(--text-sm-regular-font-style);
}

.homepage .subtitle {
  position: relative;
  align-self: stretch;
  font-family: var(--text-sm-regular-font-family);
  font-weight: var(--text-sm-regular-font-weight);
  color: var(--gray-500);
  font-size: var(--text-sm-regular-font-size);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  font-style: var(--text-sm-regular-font-style);
}

.homepage .text-wrapper-4 {
  position: relative;
  width: 302px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  text-decoration: underline;
}

.homepage .airbnb-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  padding: 64px 80px 24px;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--gray-50);
  position: relative;
  align-self: stretch;
}

.homepage .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.homepage .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-base-medium-font-family);
  font-weight: var(--text-base-medium-font-weight);
  color: var(--black);
  font-size: var(--text-base-medium-font-size);
  letter-spacing: var(--text-base-medium-letter-spacing);
  line-height: var(--text-base-medium-line-height);
  font-style: var(--text-base-medium-font-style);
}

.homepage .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  font-family: var(--text-sm-regular-font-family);
  font-weight: var(--text-sm-regular-font-weight);
  color: var(--gray-600);
  font-size: var(--text-sm-regular-font-size);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  font-style: var(--text-sm-regular-font-style);
}

.homepage .kicker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.homepage .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  object-fit: cover;
}

.homepage .sub-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.homepage .left-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-sm-regular-font-family);
  font-weight: var(--text-sm-regular-font-weight);
  color: var(--gray-600);
  font-size: var(--text-sm-regular-font-size);
  letter-spacing: var(--text-sm-regular-letter-spacing);
  line-height: var(--text-sm-regular-line-height);
  white-space: nowrap;
  font-style: var(--text-sm-regular-font-style);
}

.homepage .ellipse {
  position: relative;
  width: 2px;
  height: 2px;
  background-color: var(--gray-600);
  border-radius: 1px;
}

.homepage .right {
  gap: 40px;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.homepage .div-3 {
  gap: 16px;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.homepage .div-4 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .img-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.homepage .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--gray-600);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  text-decoration: underline;
  white-space: nowrap;
}

.homepage .subtract {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
}
