:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --gray-700: rgba(63, 63, 70, 1);
  --gray-500: rgba(107, 114, 128, 1);
  --brand-600: rgba(80, 72, 229, 1);
  --gray-200: rgba(229, 231, 235, 1);
  --brand-100: rgba(224, 232, 255, 1);
  --brand-500: rgba(100, 103, 242, 1);
  --gray-50: rgba(249, 250, 251, 1);
  --gray-300: rgba(209, 213, 219, 1);
  --brand-50: rgba(240, 243, 255, 1);
  --rose-600: rgba(225, 29, 72, 1);
  --rose-500: rgba(244, 63, 94, 1);
  --gray-100: rgba(243, 244, 246, 1);
  --gray-400: rgba(156, 163, 175, 1);
  --teal-600: rgba(13, 148, 136, 1);
  --amber-600: rgba(217, 119, 6, 1);
  --blue-600: rgba(37, 99, 235, 1);
  --rose-100: rgba(255, 228, 230, 1);
  --teal-100: rgba(204, 251, 241, 1);
  --amber-100: rgba(254, 243, 199, 1);
  --amber-300: rgba(252, 211, 77, 1);
  --blue-100: rgba(219, 234, 254, 1);
  --rose-400: rgba(251, 113, 133, 1);
  --text-4xl-medium-font-family: "Inter-Medium", Helvetica;
  --text-4xl-medium-font-weight: 500;
  --text-4xl-medium-font-size: 36px;
  --text-4xl-medium-letter-spacing: 0px;
  --text-4xl-medium-line-height: 44px;
  --text-4xl-medium-font-style: normal;
  --text-lg-regular-font-family: "Inter-Regular", Helvetica;
  --text-lg-regular-font-weight: 400;
  --text-lg-regular-font-size: 18px;
  --text-lg-regular-letter-spacing: 0px;
  --text-lg-regular-line-height: 28px;
  --text-lg-regular-font-style: normal;
  --text-5xl-medium-font-family: "Inter-Medium", Helvetica;
  --text-5xl-medium-font-weight: 500;
  --text-5xl-medium-font-size: 48px;
  --text-5xl-medium-letter-spacing: 0px;
  --text-5xl-medium-line-height: 56px;
  --text-5xl-medium-font-style: normal;
  --text-base-medium-font-family: "Inter-Medium", Helvetica;
  --text-base-medium-font-weight: 500;
  --text-base-medium-font-size: 16px;
  --text-base-medium-letter-spacing: 0px;
  --text-base-medium-line-height: 150%;
  --text-base-medium-font-style: normal;
  --text-2xl-medium-font-family: "Inter-Medium", Helvetica;
  --text-2xl-medium-font-weight: 500;
  --text-2xl-medium-font-size: 24px;
  --text-2xl-medium-letter-spacing: 0px;
  --text-2xl-medium-line-height: 32px;
  --text-2xl-medium-font-style: normal;
  --text-sm-medium-font-family: "Inter-Medium", Helvetica;
  --text-sm-medium-font-weight: 500;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --text-sm-medium-font-style: normal;
  --text-sm-regular-font-family: "Inter-Regular", Helvetica;
  --text-sm-regular-font-weight: 400;
  --text-sm-regular-font-size: 14px;
  --text-sm-regular-letter-spacing: 0px;
  --text-sm-regular-line-height: 20px;
  --text-sm-regular-font-style: normal;
  --text-lg-medium-font-family: "Inter-Medium", Helvetica;
  --text-lg-medium-font-weight: 500;
  --text-lg-medium-font-size: 18px;
  --text-lg-medium-letter-spacing: 0px;
  --text-lg-medium-line-height: 28px;
  --text-lg-medium-font-style: normal;
  --text-base-regular-font-family: "Inter-Regular", Helvetica;
  --text-base-regular-font-weight: 400;
  --text-base-regular-font-size: 16px;
  --text-base-regular-letter-spacing: 0px;
  --text-base-regular-line-height: 24px;
  --text-base-regular-font-style: normal;
  --text-3xl-medium-font-family: "Inter-Medium", Helvetica;
  --text-3xl-medium-font-weight: 500;
  --text-3xl-medium-font-size: 30px;
  --text-3xl-medium-letter-spacing: 0px;
  --text-3xl-medium-line-height: 40px;
  --text-3xl-medium-font-style: normal;
  --text-xl-regular-font-family: "Inter-Regular", Helvetica;
  --text-xl-regular-font-weight: 400;
  --text-xl-regular-font-size: 20px;
  --text-xl-regular-letter-spacing: 0px;
  --text-xl-regular-line-height: 32px;
  --text-xl-regular-font-style: normal;
  --text-xs-medium-font-family: "Inter-SemiBold", Helvetica;
  --text-xs-medium-font-weight: 600;
  --text-xs-medium-font-size: 12px;
  --text-xs-medium-letter-spacing: 0px;
  --text-xs-medium-line-height: 16px;
  --text-xs-medium-font-style: normal;
  --shadow-base: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
  --border-bottom: ;
}
